/* style.css */

/* Estilo de hover para o botão "Próximo" */
.joyride-button--next:hover {
  background-color: #315f86; /* Cor de fundo mais escura */
  cursor: pointer; /* Cursor de ponteiro para indicar interatividade */
}

/* Estilo de hover para o botão "Voltar" */
.joyride-button--back:hover {
  color: #888888; /* Cor do texto mais escura */
  cursor: pointer;
}

/* Estilo de hover para o botão "Pular" */
.joyride-button--skip:hover {
  color: #315f86; /* Cor do texto mais escura */
  cursor: pointer;
}

/* Estilo de hover para o botão "Fechar" */
.joyride-button--close:hover {
  color: #315f86; /* Cor do texto mais escura */
  cursor: pointer;
}

/* Opcional: Efeito de transição suave */
.joyride-button--next,
.joyride-button--back,
.joyride-button--skip,
.joyride-button--close {
  transition: background-color 0.3s ease, color 0.3s ease;
}
